<div class="main">
    <div class="container" id="container">
        <div class="balloon">
          <div><span>L</span>
          </div>
          <div><span>O</span>
          </div>
          <div><span>V</span>
          </div>
          <div><span>E</span>
          </div>
          <div><span>U</span>
          </div>
          <div><span>!</span>
          </div>
        </div>
      </div>
    <div style="height: 500px; position: relative; bottom: 30%; margin:0; padding:0;">
        <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
            [imageSize]="{width: '50%', height: 250}" slideImage="1"></ng-image-slider>
    </div>
</div>
